#id_text {
    margin-top: 2ex;
}
p {
    text-align: center;
    vertical-align: middle;
    margin-top: 6px;
}
.input_div>input {
    text-align: center;
    vertical-align: middle;
    display: block;
    margin: auto;
}
